<div class="header">

    <div class="header-logo">
        <a href="/">LOGO</a>
    </div>

    <div class="header-page">
        <ol>
            <li><a href="/page1">PAGE1</a></li>
            <li><a href="/page2">PAGE2</a></li>
            <li><a href="/page3">PAGE3</a></li>
            <li><a href="/page4">PAGE4</a></li>
            <li><a href="/page5">PAGE5</a></li>
        </ol>
    </div>

    <div class="header-menu-item">
        <ol>
            <li id="header-menu">PROFILE</li>
            <li id="header-menu">
                <% if(name){ %>
                    LOGOUT
                <% } else { %>
                    <a href="login">LOGIN</a>
                <% } %>
            </li>
        </ol>
    </div>
    
</div>