<div class="container">

    <div class="logo">
        <a href="/">LOGO</a>
    </div>

    <div class="page-item">
    <ol>
        <li class="header"><a href="/page1"> PAGE1</a></li>
        <li class="header"><a href="/page2"> PAGE2</a></li>
        <li class="header"><a href="/page3"> PAGE3</a></li>
        <li class="header"><a href="/page4"> PAGE4</a></li>
        <li class="header"><a href="/page5"> PAGE5</a></li>
    </ol>
    </div>

    <div class="menu-item">
    <ol>
        <li class="header menu">SEARCH</li>
        <li class="header menu">
        <% if(name){ %>
            PROFILE
        <% } else { %>
            <a href="login" class="header-a">LOGIN</a>
        <% } %>
        </li>
    </ol>
    </div>
    
</div>