<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <%-include('./header.ejs') %>

    <div class="mainContent">
        <div class="login">
            <h3>Login with ID</h3>
            <form action="" method="post">
                <input type="text" class="input_box" id="login-id" placeholder="ID" autocomplete="off">
                <input type="password" class="input_box" id="login-pw" placeholder="Password">
                <input type="submit" class="submit_box" value="LOGIN">
            </form>
            <div class="login-footer">
                <a class="blue-a" href="iforgot">Forgot ID or password?</a><br>
                Don’t have an ID? <a class="blue-a" href="register">Create yours now.</a>
            </div>
        </div>
    </div>

    <%-include('./footer.ejs') %>
    
</body>
</html>