<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTER</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <%-include('./header.ejs') %>

    <div class="mainContent">
        <div class="register">
            <h3>Create Your ID</h3>
            Already have an ID? <a class="blue-a" href="iforgot">Find it here</a>
            <form action="" method="post">
                <div class='register-name-container'>
                    <input type="text" class="input_box" id="register-fname" placeholder="First name" autocomplete="off">
                    <input type="text" class="input_box" id="register-lname" placeholder="Last name" autocomplete="off">
                </div>
                <input type="text" class="input_box" id="register-email" placeholder="Email" autocomplete="off">
                <input type="text" class="input_box" id="register-id" placeholder="ID" autocomplete="off">
                <input type="password" class="input_box" id="register-pw" placeholder="Password">
                <input type="password" class="input_box" id="register-pwc" placeholder="Confirm password">
                <input type="submit" class="submit_box" value="REGISTER">
            </form>
        </div>
    </div>

    <%-include('./footer.ejs') %>
    
</body>
</html>