<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTER</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="mainPage">
    
    <%-include('./header.ejs') %>

    <div class="loginContent">
        <div></div>
        <div>
            <div id="login-title"><h3>Create Your ID</h3></div>
            <form action="login/submit" method="post" class="form">
                <input type="text" class="text-input" id="id" placeholder="ID">
                <input type="password" class="text-input" id="pw" placeholder="Password">
                <input type="submit" id="login-submit-button" value="LOGIN">
                <div id="login-register">
                    <a href="iforgot">Forgot ID or password?</a><br>
                    Don’t have an ID? <a href="register">Create yours now.</a>
                </div>
            </form>
        </div>
    </div>

    <%-include('./footer.ejs') %>
    
</body>
</html>