<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <p><h1>MAIN PAGE</h1></p>
        <p><input class="button" type="button" value="로그인" onclick="window.location.href='/login'"></p>
        <p><input class="button" type="button" value="회원가입" onclick="window.location.href='/register'"></p>
    </div>
</body>
</html>