.mainPage {
    background-color: #ffffff;
    margin: 0 0;
    height: 100vh;
}

.container {
    background-color: #313132;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

    height: 44px;
    min-width: 780px;
}

.logo {
    min-width: 180px;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
}

ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    line-height: 44px;
    text-align: center;
    background-size: contain;
}

.header-a {
    text-decoration: none;
    color: #d6d6d6;
    animation: test-color-change-leave 0.3s;
}
@keyframes test-color-change-leave {
    0% { color: #ffffff; }
    100% {color: #d6d6d6; }
}

li a:hover {
    color: #ffffff;
    animation: test-color-change-hover 0.3s;
}
@keyframes test-color-change-hover {
    0% { color: #d6d6d6; }
    100% {color: #ffffff; }
}

.page-item {
    min-width: 512px;
}

.menu-item {
    min-width: 180px;
}

.header {
    color: #d6d6d6;
    display: inline;
    margin: 0px 30px;
    font-size: 13px;
}

.menu {
    margin: 0px 10px;
}

.mainContent {
    width: 100%;
    height: calc(100vh - 88px);

    color: #494949;

    text-align: center;

    display: grid;
    grid-template-rows: auto;
}

#login-title {
    font-size: 21px;
    margin-bottom: 15px;
}

.form {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text-input {
    border: 1px solid #d6d6d6;
    width: 311px;
    height: 2.6em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size:17px;
    box-shadow: none;
    padding: 0 0 0 15px;
    margin-bottom: 10px;
}

.text-input:focus {
    outline:2px solid #0070c9; 
}

#id {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pwc {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#login-submit-button {
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 1px solid #d6d6d6;
    color: #4b4b4b;
    border-radius: 5px;
    animation: submit-leave 0.2s;
}

@keyframes submit-leave {
    0% { 
        color: #d6d6d6;
        border: 1px solid #4b4b4b;
        background-color: #4b4b4b;
    }
    100% {
         color: #4b4b4b;
        border: 1px solid #d6d6d6;
        background-color: #d6d6d6;
    }
}

#login-submit-button:hover {
    background-color: #4b4b4b;
    border: 1px solid #4b4b4b;
    color: #d6d6d6;
    animation: submit-hover 0.2s;
}

@keyframes submit-hover {
    0% { 
        color: #4b4b4b;
        border: 1px solid #d6d6d6;
        background-color: #d6d6d6; 
    }
    100% {
        color: #d6d6d6;
        border: 1px solid #4b4b4b;
        background-color: #4b4b4b; 
    }
}

.footer-container{
    height: 44px;
    background-color: #f5f5f7;
}

.footer {
    color: #4b4b4b;
    display: inline;
    margin: 0px 30px;
    font-size: 13px;
}
