.mainPage {
    background-color: #ffffff;
}

.container {
    background-color: #313132;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    line-height: 10px;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    min-width: 500px;
}

ol {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.menu-item {
    min-width: 140px;
}

.header {
    color: #ffffff;
    display: inline;
    margin: 0px 20px;
    font-size: 13px;
}

.menu {
    margin: 0px 10px
}

.mainContent {
    position: absolute;
    top: 48px;
}