.mainPage {
    background-color: #ffffff;
}

.container {
    background-color: #313132;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr 6fr 1fr;

    height: 44px;
    min-width: 780px;
}

ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    line-height: 44px;
    text-align: center;
    background-size: contain;
}

li a {
    text-decoration: none;
    color: #d6d6d6;
    animation: test-color-change-leave 0.3s;
}

@keyframes test-color-change-leave {
    0% { color: #ffffff; }
    100% {color: #d6d6d6; }
}

li a:hover {
    color: #ffffff;
    animation: test-color-change-hover 0.3s;
}

@keyframes test-color-change-hover {
    0% { color: #d6d6d6; }
    100% {color: #ffffff; }
}

.page-item {
    min-width: 415px;
}

.menu-item {
    min-width: 180px;
}

.header {
    color: #d6d6d6;
    display: inline;
    margin: 0px 30px;
    font-size: 13px;
}

.menu {
    margin: 0px 10px;
}

.mainContent {
    position: absolute;
    top: 48px;
}