html { 
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.mid {
    flex: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px;
}

input {
    width: 30px;
    height: 30px;

    transform: rotate(45deg);

    border: none;
    border-bottom: 3px solid white;
    
    text-align: center;
    color:white;
    font: 2.7rem "Neue Haas Grotesk Text Pro", Helvetica, Arial, sans-serif;

    outline: none;
}@media(max-width:600px) {
    input {
        width: 20px;
        height: 20px;
    }
}

input:hover {
    transform: rotate(0deg);
    width: 537.43px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: width 1s 0.1s, transform 0.3s, background-color 1s 0.1s, height 1s 0.1s;
}@media(max-width:600px) {
    input:hover {
        width: 380.43px;
        height: 38px;
    }
}

input:focus {
    transform: rotate(0deg);
    width: 537.43px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: width 1s 0.1s, transform 0.3s, background-color 1s 0.1s, height 1s 0.1s;
}@media(max-width:600px) {
    input:focus {
        width: 380.43px;
        height: 38px;
    }
}

h1 {
    color: white;
    font: 3rem "Neue Haas Grotesk Text Pro", Helvetica, Arial, sans-serif;
}@media(max-width:600px) {
    h1 {
        font-size:2rem;
        transition: font-size 0.3s;
    }
}